@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;500&family=Open+Sans:wght@300;400&family=Oswald:wght@200&family=Poppins:wght@100&display=swap');
body{
    font-family: 'Montserrat', sans-serif;
}

h1{
    text-align: center;
    margin-top: 100px;
}

.card-about-content, .product-section{
    display: grid;
    gap: 50px;
    margin-top: 100px;
  }
  .card-about-content{
    grid-template: auto auto / repeat(7, 1fr);
  }
  .product-section{
    grid-template: auto auto / repeat(4, 1fr);
  }

.filtro-btn{
    padding: 5px 20px;
    background-color: transparent;
    border: 1px solid grey;
    cursor: pointer;
    margin: 30px 5%;
    border-radius: 2px;
}
.close-btn{
    height: 25px;
    display: block;
    cursor: pointer;
    position: absolute;
    left: 50px;
}
.image-product {
    width: 60%;
    display: block;
    margin-bottom: 25px;
    margin-left: auto;
    margin-right: auto;
}
h3{
    font-weight: 500;
}
h3, h4, h5{
    margin-bottom: 10px;
}
h4, h5, p{
    font-weight: 200;
}
p{
    font-size: 12.5px;
}
.image-collection{
    width: 100%;
    display: block;
    margin-bottom: 25px;
    object-fit: cover;
}
.card-container{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    display: grid;
    grid-template: auto auto / repeat(4, 1fr);
    gap: 20px;
}
.card-type{
    border-radius: 5px;
    padding: 50px 10px;
    text-align: center;
    border: 1px solid gray;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.search-section{
    padding: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #262626;
    gap: 25px;
}
.reset-btn{
    background-color: red;
    color: #fff;
    padding: 7.5px;
    border: none;
    cursor: pointer;
}
.disabled-btn{
    opacity: 0;
}
.select-box{
    padding: 7.5px;
    color: gray;
}
.switch {
position: relative;
display: inline-block;
width: 60px;
height: 34px;
}

.switch input {
display: none;
}

.slider {
position: absolute;
cursor: pointer;
top: 0;
left: 0;
right: 0;
bottom: 0;
background-color: #ccc;
-webkit-transition: 0.4s;
transition: 0.4s;
}

.slider:before {
position: absolute;
content: "";
height: 26px;
width: 26px;
left: 4px;
bottom: 4px;
background-color: white;
-webkit-transition: 0.4s;
transition: 0.4s;
}

input:checked + .slider {
background-color: #101010;
}

input:focus + .slider {
box-shadow: 0 0 1px #101010;
}

input:checked + .slider:before {
-webkit-transform: translateX(26px);
-ms-transform: translateX(26px);
transform: translateX(26px);
}

.slider.round {
border-radius: 34px;
}

.slider.round:before {
border-radius: 50%;
}




.image-collection{
    width: 100%;
    display: block;
    margin-bottom: 25px;
    height: 165px;
    border-radius: 5px;
}
.card-container{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    display: grid;
    grid-template: auto auto / repeat(4, 1fr);
    gap: 20px;
}
.card-type{
/*         background-color: brown; */
    border-radius: 5px;
    padding: 50px 10px;
    border: 1px solid gray;
    text-align: center;
/*         color: #fff; */
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.search-product{
    width: 300px;
    padding: 7.5px;
}

.noImage{
    height: 165px;
    width: 100%;
    margin-bottom: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #262626;
}

.noImage > h5{
    color: #fff;
}



.image-product {
    width: 100%;
    display: block;
    margin-bottom: 25px;
  }
  .card-container {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    display: grid;
    grid-template: auto auto / repeat(4, 1fr);
    gap: 20px;
  }
  .card-type {
    border: 1px solid #000000;
    border-radius: 5px;
    padding: 50px 10px;
    text-align: center;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }